*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    background-color:blue;
    border: 3px solid black;
    height: 540px;
    display: grid;
    grid-template-rows: 100px 300px 100px;
    grid-template-columns: 300px 1140px;
    gap: 15px;
}

.box{
    background-color: aqua;
    border: 3px solid black;
    /* height: 150px; */
    /* width: 100px; */
}

#box1{
    grid-column-start: 1;
    grid-column-end: 3;
}

#box4{
    grid-column-start: 1;
    grid-column-end: 3;
}